@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/roboto-regular.eot');
    src: url('../fonts/roboto-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular.woff') format('woff'),
         url('../fonts/roboto-regular.ttf') format('truetype'),
         url('../fonts/roboto-regular.svg#roboto-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Exo2 Regular';
    src: url('../fonts/exo2-regular.eot');
    src: url('../fonts/exo2-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2-regular.woff') format('woff'),
         url('../fonts/exo2-regular.ttf') format('truetype'),
         url('../fonts/exo2-regular.svg#exo2-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/material-icons-regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('../fonts/material-icons-regular.woff2') format('woff2'),
       url('../fonts/material-icons-regular.woff') format('woff'),
       url('../fonts/material-icons-regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #bdbdbd;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
  font-size: 25px;
}

.text-green {
  color: #2ecc71;
}

.text-center {
  text-align: center;
}

.container-main {
  background-color: #e9f0e7;
  width: 860px;
  height: 550px;
  border-radius: 5px;
  display: inline-block;
  text-align: left;
}

.container-main header {
  background-color: #ff5722;
  border-radius: 5px 5px 0 0;
  box-sizing: border-box;
  padding: 25px 35px 0;
}

header .container-logo {
  color: #ffffff;
}

header .container-logo .logo {
  vertical-align: middle;
}

header .container-logo span {
  vertical-align: middle;
  display: inline-block;
  padding: 5px 0 0 20px;
  text-transform: uppercase;
  font-family: 'Exo2 Regular', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

header nav {
  padding-top: 25px;
}

header nav a {
  display: inline-block;
  margin-left: 20px;
  padding: 0 5px 8px;
  box-sizing: border-box;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffcdbd;
  font-family: 'Exo2 Regular', sans-serif;
  font-size: 14px;
}

header nav a:first-child {
  margin-left: 0;
}

header nav a:hover,
header nav a.active {
  color: #ffffff;
  padding-bottom: 5px;
  border-bottom: 3px solid #2196f3;
}

main {
  box-sizing: border-box;
  padding: 5px 30px;
}

main section {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #cccccc;
  margin-top: 10px;
}

main section .column {
  min-height: 80px;
  border-left: 1px solid #e0e0e0;
  display: inline-block;
  padding: 15px;
  box-sizing: border-box;
  vertical-align: top;
}

main section .column-big {
  width: 345px;
}

main section .column-medium {
  width: 320px;
}

main section .column-small {
  width: 45px;
  padding: 25px 0 0 0;
  text-align: center;
}

main section label {
  display: block;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

main section input {
  width: 150px;
  height: 30px;
  border: 2px solid #bdbdbd;
  border-radius: 5px;
  box-sizing: border-box;
  padding-left: 10px;
}

main section select {
  width: 130px;
  height: 30px;
  background-color: #ff5722;
  border-radius: 5px;
  box-sizing: border-box;
  padding-left: 10px;
  color: #ffffff;
}

main section select.select-big {
  width: 295px;
}
